/*seletor{
	declaração
}*/

/*seletor é a tag
declaração é propriedade: valor*/


h1{
	background: beige ;
	text-align: center;

}
h2{
	background: tomato;
	text-align: center;
}
table{
	border: 2;
	white-space: 500;
	


	text-align: center;
}

th{
	background: gainsboro;
}
td{
	background: gray;
}
body{
	background: aliceblue;
}